html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
article,
details {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*--- HTML5 -----*/
header,
nav,
details,
section,
aside,
footer {
  display: block;
}

body {
  font-family: "Courier", "Courier New", Serif;
  max-width: 750px;
  margin: 0 auto;
}

/*
 * Buttons from:
 * http://codepen.io/TeshaR/pen/cdugG?editors=110
 */
.btn {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  text-align: center;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  width: 100%;
  height: 45px;
  font-size: 120%;

  /* Colors */
  background: #f7f7f7;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  color: #888;
}

.btn:hover {
  background: #e6e6e6;
  box-shadow: 0 5px #aaa;
  color: #888;
}

/* Imitate a pressed effect for buttons */
.btn:active {
  top: 5px;
  box-shadow: none;
}

/*------ Header -----*/
header {
  text-align: center;
}

h1 {
  font-size: 70px;
  color: #444;
  margin-bottom: 10px;
}

p.description {
  font-size: 14px;
  color: #999;
  font-style: italic;
  margin: 0 0 25px 0;
  padding: 0 5px;
}

/*------ Panels -----*/

.panel {
  position: absolute;
  top: 100px;
  z-index: 42;
  padding: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

/*------ Controls -----*/
.controls {
  left: 0;
}

.btn-360 {
  background: #e8103b;
  box-shadow: 0 6px #890923;
  color: #fff;
}

.btn-360:hover {
  background: #c80e33;
  box-shadow: 0 5px #69071b;
  color: #fff;
}

.btn-360.active {
  top: 2px;
  box-shadow: 0 2px #890923;
}

.btn-360.active:hover {
  box-shadow: 0 2px #69071b;
}

.btn-360:active,
.btn-360.active:active {
  top: 5px;
  box-shadow: none;
}

. {
  background: #b49989;
  box-shadow: 0 6px #644d40;
  color: #fff;
}

.btn-tantrum:hover {
  background: #a78774;
  box-shadow: 0 5px #503d33;
  color: #fff;
}

.btn-tantrum.active {
  top: 2px;
  box-shadow: 0 2px #644d40;
}

.btn-tantrum.active:hover {
  box-shadow: 0 2px #503d33;
}

.btn-tantrum:active,
.btn-tantrum.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-grab {
  background: #129306;
  box-shadow: 0 6px #0a5203;
  color: #fff;
}

.btn-grab:hover {
  background: #0e7205;
  box-shadow: 0 5px #063102;
  color: #fff;
}

.btn-grab.active {
  top: 2px;
  box-shadow: 0 2px #0a5203;
}

.btn-grab.active:hover {
  box-shadow: 0 2px #063102;
}

.btn-grab:active,
.btn-grab.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-180 {
  background: #fff4aa;
  box-shadow: 0 6px #998500;
  color: #555;
}

.btn-180:hover {
  background: #fff088;
  box-shadow: 0 5px #776800;
  color: #555;
}

.btn-180.active {
  top: 2px;
  box-shadow: 0 2px #998500;
}

.btn-180.active:hover {
  box-shadow: 0 2px #776800;
}

.btn-180:active,
.btn-180.active:active {
  top: 5px;
  box-shadow: none;
}
